@charset "utf-8";
@use "bulma/bulma.sass" with (
  $footer-padding: 1rem 1.5rem
);

@use "./fontawesome" with (
  $fa-font-path: "/static/webfonts"
);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grow-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.grow-main main {
  flex: 1;
}

.logo {
  font-size: 1.4em;
}

.beta-label {
  margin-left: 0.5rem;
  font-size: 0.9em;
  font-weight: lighter;
}
/*
#bobbin-footer {
  display: flex;
  background-color: bulma.$dark;
}

#bobbin-footer a {
  color: bulma.$white;
}*/

#bobbin-footer > div.container {
  display: flex;
  justify-content: flex-end;
}

.footer-item {
  padding: 0.5rem 1rem;
}

.transition {
  transition: 300ms;
}
