/*
 * Copyright 2019 Nathan West
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/************************************************/

$speed: 200ms;
$footer-padding: 1rem 1.5rem;
$title-strong-weight: bold;
@import "~bulma";

/************************************************/
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grow-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.grow-main main {
  flex: 1;
}

/************************************************/

.footer-item {
  padding: 0.5rem 1rem;
}

.logo {
  font-size: 1.4em;
}

.logo-label {
}

.beta-label {
  margin-left: 0.5rem;
  font-size: 0.9em;
  font-weight: lighter;
}

/************************************************/

.transition {
  transition: 300ms;
}

#faq-content {
  max-width: 50em;
}

.hover-underline {
  margin-bottom: 1pt;
}
.hover-underline:hover {
  border-bottom: 1pt solid currentColor;
  margin-bottom: 0pt;
}

a.hoverlink {
  visibility: hidden;
  padding: 0 4pt;
}

*:hover > a.hoverlink {
  visibility: visible;
}

/************************************************/

.author-header {
  font-size: 1.5rem;
}

.author-name {
  font-weight: bold;
  @extend .has-text-black-ter;
}

.author-handle {
  font-size: 1.25rem;
  @extend .has-text-grey-light;
}

.tweet-like {
  /* Copied from the tweet style */
  max-width: 500px;
  min-width: 220px;
}

.thread-end {
  margin-left: auto;
  margin-right: auto;
}

/************************************************/

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: lightgrey;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
