@charset 'utf-8';
@use "bulma/bulma.sass";

.author-header,
.author-name {
  @extend .has-text-black-ter;
}

.author-header {
  font-size: 1.75rem;
  font-weight: 500;
}

.author-name {
  font-weight: bold;
}

.author-handle {
  font-size: 0.75em;
  @extend .has-text-grey;
}
