@charset 'utf-8';
@use "bulma/bulma.sass";

.author-header * {
  color: bulma.$black;
}

.author-header {
  font-size: 1.75rem;
  font-weight: 500;
}

.author:hover .author-name {
  text-decoration: underline;
}

.author-name {
  font-weight: bold;
}

.author-handle {
  font-size: 0.8em;
  color: bulma.$grey;
}
