@charset 'utf-8';

.tweet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-container {
  flex: 1;
}

.tweet-like {
  /* Copied from the tweet style */
  max-width: 500px;
  min-width: 220px;
}

.thread-end {
  margin-left: auto;
  margin-right: auto;
}
