html,
body,
#react-container {
	height: 100%;
	margin: 0;
	padding: 0;
}

#page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#page-wrapper main {
	flex: 1;
    margin: 1rem 0;
}

header, nav, footer {
    background-color: #f5f5f5;
}

#page-wrapper footer {
    min-height: 30pt;
    line-height: 30pt;
}

.footer-item {
    padding: .5rem 1rem;
}

.beta-label {
    font-weight: lighter;
}

/************************************************/

#homepage {
    margin-top: 4rem;
}

#tweet-entry-form {
    margin-top: 4rem;
}

/************************************************/


.author-handle {
	color: #697882;
	font-size: 1.5rem;
}

.author-name {
	font-weight: bold;
}

.author {
	color: #212529;
}

.tweet-like {
    /* Copied from the tweet style */
    max-width: 500px;
    min-width: 220px;
}

.thread-end {
    margin-left: auto;
    margin-right: auto;
}

/************************************************/

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: lightgrey;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
